.user_info {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 2fr 5fr;
    grid-gap: 5px;
    padding: 2%;
}
.user_info .avatar {
}
.user_info .description {
}
.user_info .avatar img {
    width: 250px;
}
.contactItem {
    padding-left: 20px;
}
.title {
    font-weight: 600;
}
.error
{
    border: red 2px solid;
    padding: 5px;
    color: mediumvioletred;
}