* {
  margin: 0;
  padding: 0;
}
body {
  margin: 2% 10%;
}
.app-wrapper {
  display: grid;
  grid-template-areas:
  'h h'
  'n c';
  grid-template-rows: auto;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;
}

.app-wrapper-content {
  background-color: deepskyblue;
}